@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-figtree:"Figtree", sans-serif;
    --font-montserrat :"Montserrat", sans-serif;
    --color-oldwhite: #eaeaee;
    --color-body: #331212;
    --color-red: #660B05;
    --color-red2: #571E1E;
    --color-red3: #3E0703;
    --color-whitever: #b6b6b6;
}

/* .naila-1{
    background-image: url(/img/wildan\ 14.png);
} */

.swiper-scrollbar {
    --swiper-scrollbar-bg-color: rgba(255,255,255, 0.2);
    --swiper-scrollbar-drag-bg-color : white;
}

.hamburger-line {
    @apply w-7.5 h-0.5 my-2 block bg-white;
}

.hamburger-active > span:first-child {
    @apply rotate-45 translate-x-[1px];
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:last-child {
    @apply -rotate-45;
}


.navbar-fixed {
    @apply fixed z-999 bg-red2 opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
}